.App {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 8%;

  display: flex;
}
.head {
  width: 92%;
  display: flex;
}

.main_box {
  box-shadow: 1px 1px 1px 1px #d0d5dd;
}
.main_box_border {
  border: #d0d5dd;
}
.main_button {
  display: flex;
  width: 100%;
}
.main_button_start {
  flex: 50%;
}
.main_buttom_search {
  border: 1px solid #d0d5dd;
  padding: 3px;
  width: 20px;
}
.main_button_search {
  width: 60vh;
  text-align: left;
}
.hospital_numbers {
  font-size: 12px;
  position: absolute;
  padding-left: 6px;
  color: #1faf9f;
}
.pencil,
.trash {
  padding-left: 10px;
}
